.sliderProductContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 100%;
    padding: 10px 0px;
}

.sliderProductContainer::-webkit-scrollbar {
    height: 5px;
    width: 0px;
}

.sliderProduct {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 15px;
    transition: .5s;
}

.scrollToLeftBtn,
.scrollToRightBtn {
    position: absolute !important;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

:is(.scrollToLeftBtn, .scrollToRightBtn) :is(svg, i, button) {
    width: 100%;
    height: 100%;
    font-size: 30px;
}
